<a mat-raised-button  color="primary" style="margin: 10px" routerLink="/books/add">Könyv felvétele</a>

<div style="margin-bottom: 10px; border: 1px solid black;" *ngFor="let book of books$ | async">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <a [title]="book.name + ' details'" [routerLink]="['/books/details', book.id]">
                    <b>book.name</b>
                </a>
            </mat-card-title>
            <mat-card-subtitle>book.release_year</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Író: book.authorId</p>
        </mat-card-content>
    </mat-card>
</div>
